aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
python-dotenv==1.0.1
pyyaml==6.0.1
requests
speedtest-cli
spotipy
SafoneAPI
tgcrypto==1.2.5
unidecode
youtube-search
youtube-search-python
youtube_dl==2021.12.17 
git+https://github.com/KurimuzonAkuma/pyrogram
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/AsmSafone/SafoneAPI